<a href="https://colab.research.google.com/github/Fernandamarquees/Curso-Python-Prof-Guanabara/blob/main/Curso_Python_Guanabara_Mundo_3_M%C3%B3dulos_1%2C_2_e_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso Python Guanabara Mundo 3 - Módulos 1, 2 e 3

### Aula 16 – Tuplas em Python

In [ ]:
# Tuplas são variáveis compostas, ou seja abrigam muitas variáveis dentro de um único nome
# Pode ser com ou sem colchetes
# As tuplas são imutáveis
# Fatiamento é parecido com o fatiamento de str
lanche='hambúrguer', 'suco', 'pizza', 'pudim' #OU ['hámburguer', 'suco', 'pizza', 'pudim']
print(lanche)
print(lanche[2])
print(lanche[0:2]) #também ignora o último elemtento
print(lanche[1:]) #comece no 1 e vá até o final
print(lanche[-1]) #mostra o último elemento
len(lanche) #mostra quantos elementos tem dentro da tupla

('hambúrguer', 'suco', 'pizza', 'pudim')
pizza
('hambúrguer', 'suco')
('suco', 'pizza', 'pudim')
pudim

4

In [ ]:
lanche='hambúrguer', 'suco', 'pizza', 'pudim'
for c in lanche: #substitui range pelo nome da tupla
  print(c)

hambúrguer
suco
pizza
pudim

In [ ]:
for comida in lanche:
  print(f'No Natal vou comer {comida}')
print('Comi muito nesse Natal!')

No Natal vou comer hambúrguer
No Natal vou comer suco
No Natal vou comer pizza
No Natal vou comer pudim
Comi muito nesse Natal!

In [ ]:
for cont in range(0, len(lanche)):
  print('Nesse Natal vou comer ' ,end='') # end='' p/ imprimir na mesma linha
  print(lanche[cont])
print(' ')
print('HO '*8)
print('Comi muito nesse Natal!')

Nesse Natal vou comer hambúrguer
Nesse Natal vou comer suco
Nesse Natal vou comer pizza
Nesse Natal vou comer pudim

HO HO HO HO HO HO HO HO
Comi muito nesse Natal!

In [ ]:
for cont in range(0, len(lanche)):
  print(f'Nesse Natal vou comer {lanche[cont]} na posição {cont}') # dessa forma mostra a posição que cada elemento está na tupla
print(' ')

# ou

for pos, comida in enumerate(lanche):
  print(f'Eu vou comer {comida} na posição {pos}')

Nesse Natal vou comer hambúrguer na posição 0
Nesse Natal vou comer suco na posição 1
Nesse Natal vou comer pizza na posição 2
Nesse Natal vou comer pudim na posição 3

Eu vou comer hambúrguer na posição 0
Eu vou comer suco na posição 1
Eu vou comer pizza na posição 2
Eu vou comer pudim na posição 3

In [ ]:
print(sorted(lanche)) # para imprimir em ordem alfabética

['hambúrguer', 'pizza', 'pudim', 'suco']

In [ ]:
a = (2, 5, 4)
b = (5, 8, 1, 2)
c = a + b # a soma unifica as tuplas
print(c)

(2, 5, 4, 5, 8, 1, 2)

In [ ]:
print(c.count(5)) #mostra quantas vezes aquele elemento aparece na tupla
print(c.index(4)) #mostra a posição do elemento

2
2

In [ ]:
pessoa = ('Fernanda', 'F', 33, 60.55) # É possível colocar diferentes tipos de dados
print(pessoa)
# É imutável mas é possível apagar a tupla toda, com o comando "del(pessoa)"

('Fernanda', 'F', 33, 60.55)

Desafio 72 - Crie um programa que tenha uma tupla preenchida com uma contagem por extenso, de zero até vinte. Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por extenso.

In [ ]:
resp = ''
extenso = 'zero', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete', 'oito', 'nove', 'dez', 'onze', 'doze', 'treze', 'quatorze', 'quinze', 'dezesséis', 'dezessete', 'dezoito', 'dezenove', 'vinte'
while True:
  num = int(input('Digite um número entre 0 e 20: '))
  if num <0 or num >21:
    num = int(input('Ocorreu um erro. Digite um número entre 0 e 20: '))
  print(f'Você digitou o número {num}, escrito por extenso é {extenso[num]}')
  resp = str(input('Quer continuar? S/N ')).upper().strip()
  if resp == 'N':
    break
print('-'*30)
print('Programa encerrado')

Digite um número entre 0 e 20: -8
Ocorreu um erro. Digite um número entre 0 e 20: 15
Você digitou o número 15, escrito por extenso é quinze
Quer continuar? S/N s
Digite um número entre 0 e 20: 5
Você digitou o número 5, escrito por extenso é cinco
Quer continuar? S/N s
Digite um número entre 0 e 20: 87
Ocorreu um erro. Digite um número entre 0 e 20: 0
Você digitou o número 0, escrito por extenso é zero
Quer continuar? S/N N
------------------------------
Programa encerrado

Desafio 73 - Crie uma tupla preenchida com os 20 primeiros colocados da Tabela do Campeonato Braseileiro de Futebol, na ordem de colocação. Depois mostre:

1 - Apenas os primeiros colocados;

2 - Os últimos 4 colocados;

3 - Uma lista com os times em ordem alfabética;

4 - Em que posição na cadeia está o time Chapecoense.

In [ ]:
times = ['Palmeiras', 'Grêmio',	'Atlético-MG',	'Flamengo', 'Botafogo', 'Red Bull', 'Fluminense', 'Athletico-PR', 'Internacional', 'Fortaleza', 'São Paulo',
'Cuiabá', 'Corinthians', 'Cruzeiro', 'Vasco', 'Bahia', 'Santos', 'Goiás', 'Curitiba', 'América-MG']

print(f'Os 5 primeiros colocados são {times[0:5]}')
print('-='*20)
print(f'Os últimos 4 colocados são {times[-4:]}')
print('-='*20)
print(f'Nome dos times em ordem alfabética {sorted(times)}')
print('-='*20)
#print(f'O Chapecoesnse está na posição {times.index("Chapecoense")+1}ª') # soma a posição com 1, para ser a posição correta
print('O Chapecoense não está na divisão em 2023')

Os 5 primeiros colocados são ['Palmeiras', 'Grêmio', 'Atlético-MG', 'Flamengo', 'Botafogo']
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Os últimos 4 colocados são ['Santos', 'Goiás', 'Curitiba', 'América-MG']
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Nome dos times em ordem alfabética ['América-MG', 'Athletico-PR', 'Atlético-MG', 'Bahia', 'Botafogo', 'Corinthians', 'Cruzeiro', 'Cuiabá', 'Curitiba', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Grêmio', 'Internacional', 'Palmeiras', 'Red Bull', 'Santos', 'São Paulo', 'Vasco']
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
O Chapecoense não está na divisão em 2023

Desafio 74 - Crie um programa que vai gerar cinco números aleatórios e colocar numa tupla. Depois disso, mostre a listagem de números gerados e também indique o menor e o maior valor que estão na tupla.

In [ ]:
from random import randint
num = (randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10))
for n in num:
  print(f'{n}', end=' ')

print(f'\nO maior valor é {max(num)} e o menor valor é {min(num)}')

7 2 6 2 5
O maior valor é 7 e o menor valor é 2

Desafio 75 - Crie um programa que leia quatro valores pelo teclado e guarde-os em uma tupla. No final, mostre:

a) Quantas vezes apareceu o valor 9;

b) Em que posição foi digitado o primeiro valor 3;

c) Quais foram os números pares.

In [ ]:
num = (int(input('Digite um número ')),
       int(input('Digite outro número ')),
       int(input('Digite mais um número ')),
       int(input('Digite o último número ')))
print('-='*30)
print(f'Você digitou os números {num}')
print('-='*30)
print(f'O valor 9 apareceu {num.count(9)} vezes')
print('-='*30)

if 3 in num:
  print(f'O primeiro valor 3 foi digitado na posição {num.index(3)+1}')
else:
  print('O número 3 não foi digitado.')
print('-='*30)
print('Foram digitados os números pares: ')
for n in num:
  if n % 2 == 0:
    print(n, end =' ')
    #print(f'Foram digitados os números pares: {n}', end='') #f'Foram digitados os números pares: {num}')

Digite um número 2
Digite outro número 3
Digite mais um número 4
Digite o último número 9
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Você digitou os números (2, 3, 4, 9)
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
O valor 9 apareceu 1 vezes
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
O primeiro valor 3 foi digitado na posição 2
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Foram digitados os números pares:
2 4

Desafio 76 - Crie um programa que tenha uma tupla única com nomes de produtos e seus respectivos preços na sequencia. No final, mostre uma listagem de preços, organizando os dados em forma tabular.

In [21]:
produtos = ('Lapiseira', 1.75,
            'Borracha', 2,
            'Caderno', 15.90,
            'Mochila', 120.00,
            'Estojo', 29.90,
            'Livro', 50,
)
print('-'*40)
print(f'{"Listagem de preços":^40}')
print('-'*40)
for pos in range (0, len(produtos)):
  if pos % 2 == 0:
    print(f'{produtos[pos]:.<30}',end='') #:.<30 para direcionar para a lateral esquerda
  else:
    print(f' R$ {produtos[pos]:>6.2f}')
print('-'*40)

----------------------------------------
           Listagem de preços
----------------------------------------
Lapiseira..................... R$   1.75
Borracha...................... R$   2.00
Caderno....................... R$  15.90
Mochila....................... R$ 120.00
Estojo........................ R$  29.90
Livro......................... R$  50.00
----------------------------------------

Desafio 77 - Crie um programa que uma tupla com várias palavras (não usar acentos). Depois disso, você deve mostrar para cada palavra, quais são as suas vogais.

In [22]:
letras == ' ' #'aeiou'
palavras = ('Trabalho', 'Escola', 'Programação', 'Python')
for 'aeiou' in palavras:
  print(f'Nessa palavra temos as vogais {letras}')

SyntaxError: cannot assign to literal (<ipython-input-22-bea9c2318222>, line 3)

Desafio 7 - Crie um programa que

Desafio 7 - Crie um programa que